<!DOCTYPE html>
<html ng-app="notesApp">
<head>
	<title>index</title>
	<script type="text/javascript" src="jquery-1.11.0.js"></script>
		<link rel="stylesheet" href="materialize/css/materialize.min.css">
    	<script src="materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular-route.min.js"></script>
       <!-- <script src="angular.min.js"></script>
      // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script> -->
      
      <!-- <script src="angular-route.js"></script>
      s<script src="angular-route.min.js"></script> -->
      <script src="signup.js"></script>
      <script src="subList_services.js"></script>
      <link rel="stylesheet" type="text/css" href="notes-index.css">
</head>
<body>
 <!-- Navbar goes here -->
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="mdi-action-search"></i></a></li>
        <li><a href="#signIn">Sign In</a></li>
        <li><a href="#signUp">Sign Up</a></li>
        <li><a href="mobile.html"><i class="mdi-navigation-more-vert"></i></a></li>
      </ul>
    </div>
  </nav>
    <!-- Page Layout here -->
    <div class="row">

    <div class="col s3" ng-controller="subListCtrl">
            <!-- Grey navigation panel -->
      <ul id="slide-out" class="side-nav">
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header" id="main-header">SUBJECTS<i class="mdi-navigation-arrow-drop-down"></i></a>
              <div class="collapsible-body" >
                <ul class="collapsible popout" data-collapsible="accordion">
                  <li ng-repeat="sub in subs">
                    <div class="collapsible-header" id="sub-header" >{{sub.title}}</div>
                      <div class="collapsible-body">
                      <div  ng-repeat="image in icons.list">
                      	<div class="icon">
          				<i class="{{image.id}}"></i>
                        <i class="mdi-file-file-download" id="download"></i>
                        <i class="mdi-communication-forum" id="forum"></i>
                        </div>
                        </div>
                      </div>
                  </li>
                  <li>
                    <div class="collapsible-header sub">Second</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                  </li>
                  <li>
                    <div class="collapsible-header sub">Third</div>
                    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>

<script type="text/javascript">
  $(".button-collapse").sideNav();
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
    });
</script>


<div class="col s9">
	<div ng-view></div>
</div>

<script>
/*angular.module('notesApp', []).controller('subListCtrl', function ($scope,$http) {
$http({
	method:'POST',
	url:'subject_list.json',
	responseType: "json"
})	
.success(function(data){
$scope.subject_list=data.names;
console.log(data.names);
})
})

 
$scope.list=[
    {title:"Data Structures and Algorithm"},
	{title:"Object Oriented Programming"},
	{title:"Internet and Web Programming"}
	];

$scope.icons=[
    {id:"mdi-file-file-upload"},
	{id:"mdi-file-file-download"},
	{id:"mdi-communication-forum"}
	];
})
*/
</script>

</body>
</html>